<!-- A little help for the Netlify post-processing bots -->
<!-- for use with web-component contact-form -->
<form name="{{netlifyFormName}}" method="POST" data-netlify="true">
      <input type="hidden" name="email">
      <input type="hidden" name="first-name">
      <input type="hidden" name="last-name">
      <input type="hidden" name="subject">
      <input type="hidden" name="message">
      <input type="hidden" name="lang" />
</form>
<contact-form lang="{{locale}}"
                   netlifyFormName="{{netlifyFormName}}"/>

<script type="module">
  import '/components/contact-form.js';
</script>
