<footer>
  <p>
    {{i18n.globals[locale].contact}} |
    <a href="/{{locale}}/about/">{{i18n.globals[locale].about}}</a> |
    <a href="/{{locale}}/media/">{{i18n.globals[locale].media}}</a> |
    <a href="/{{locale}}/impressum/">{{i18n.globals[locale].impressum}}</a>
  </p>
</footer>
