<footer class="footer-outer">
  <div class="footer-inner responsive-wrapper">
    <div class="footer-cell-one-third">
      <a href="/{{locale}}" class="foot-logo"
        role="img" aria-label="{{i18n.header_footer[locale].home}}">
        <img src="/assets/img/dating-privacy-logo-web-inverted.export.svg"
          onerror="this.onerror=null; this.src='/assets/img/dating-privacy-logo-web-inverted.export-390x147.png'"
          height="72" width="191" alt="‹Dating Privacy› logo">
      </a>
    </div>
    <div class="footer-cell-two-thirds">
      <nav class="footer-navigation">
        <a href="/{{locale}}/media/">{{i18n.header_footer[locale].media}}</a>
        <a href="/{{locale}}/ethics/">{{i18n.header_footer[locale].ethics}}</a>
        <a href="/{{locale}}/community/">{{i18n.header_footer[locale].community}}</a>
        <a href="/{{locale}}/contact/">{{i18n.header_footer[locale].contact}}</a>
      </nav>
      <nav class="footer-navigation">
        <a href="https://twitter.com/datingprivacy" rel="nofollow noopener">Twitter</a>
        <a href="https://forum.personaldata.io/" rel="nofollow noopener">Forum</a>
      </nav>
    </div>
  </div>
</footer>