<!-- A little help for the Netlify post-processing bots -->
<!-- for use with web-component newsletter-signup -->
<newsletter-signup
  lang="{{locale}}"
  netlifyFormName="{{netlifyFormName}}"/>

<script type="module">
  import '/components/newsletter-signup.js';
</script>