<!-- A little help for the Netlify post-processing bots -->
<!-- for use with web-component newsletter-signup -->
<form name="{{netlifyFormName}}" method="POST" data-netlify="true">
      <input type="hidden" name="email">
      <input type="hidden" name="first-name">
      <input type="hidden" name="last-name">
      <input type="hidden" name="lang" />
</form>
<newsletter-signup lang="{{locale}}"
                   netlifyFormName="{{netlifyFormName}}"/>

<script type="module">
  import '/components/newsletter-signup.js';
</script>
