<form name="signup" method="POST" data-netlify="true">
  <h1>{{i18n.signup[locale].title}}</h1>
  {% if i18n.signup[locale].info %}
    <p>{{i18n.signup[locale].info}}</p>
  {% endif %}
  <div >
      <label for="signup-first-name">
      {{i18n.signup[locale].first_name}}
      </label>
      <input type="text" name="first-name"
        id="signup-first-name">
  </div>
  <div >
      <label for="signup-last-name">
      {{i18n.signup[locale].last_name}}
      </label>
      <input type="text" name="last-name"
        id="signup-last-name">
  </div>
  <div >
      <label for="signup-email">
      {{i18n.signup[locale].email}}
      </label>
      <input type="email" name="email"
        id="signup-email">
  </div>
  <div>
      <button type="submit">{{i18n.signup[locale].submit_button}}</button>
  </div>
</form>
