html {
  font-size: var( --font-size-base);
}

body {
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  font-size:   var(--body-text-font-size);
  line-height: var(--body-line-height);
  color: var(--body-text-color);
  font-kerning: normal;
}

strong, b {
  font-weight: var(--body-text-bold-font-weight);
}

header {
  color: var(--header-text-color);
  font-family: var(--header-font-family);
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
  text-transform: uppercase;
}

footer {
  color: var(--footer-text-color);
  font-family: var(--footer-font-family);
  font-size: var(--footer-font-size);
  font-weight: var(--footer-font-weight);
  text-transform: uppercase;
}

h1, h2, h3,
h4, h5, h6,
section.masthead {
  color: var(--hx-text-color);
  font-family: var(--hx-font-family);
  letter-spacing: -0.015rem;
  /* The `text-rendering` property is non-standard; and should be
     applied to headings only, not to body; see following article:
     https://css-tricks.com/almanac/properties/t/text-rendering/ */
  text-rendering: optimizeLegibility;
}

h1,
section.masthead p,
section.masthead button {
  font-size: var(--h1-font-size);
  line-height: var( --line-height-double);
}

h1 {
  font-weight: var(--h1-font-weight);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  line-height: var( --line-height-double);
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  text-transform: uppercase;
  line-height: var( --line-height-double);
}

h4 {
  font-size: var(--h4-font-size);
  font-weight: var(--h4-font-weight);
}

h5 {
  font-size: var(--h5-font-size);
  font-weight: var(--h5-font-weight);
}

h6 {
  font-size: var(--h6-font-size);
  font-weight: var(--h6-font-weight);
}

h1, h2, h3,
h4, h5, h6,
p {
  margin: 0;
  margin-bottom: var(--paragraph-margin-bottom);
}