---
layout: default
---
<section id="hero">
    {% markdown hero %}
</section>
<h1>{% markdown story_title %}</h1>
<div>{% markdown story %}</div>

<h1>{% markdown people_title %}</h1>
{% for person in people %}
<div>

  <img src="{{person.image}}" alt="{{person.name}}" title="{{person.name}}">
  <h2>{{person.name}}</h2>
  <p>{% markdown person.description %}</p>
  <p>
    {% if person.twitter %}
      <a href="{{person.twitter}}">twitter</a>
    {% endif %}
    {% if person.linkedin %}
      <a href="{{person.linkedin}}">linkedin</a>
    {% endif %}
    {% if person.email %}
      <a href="{{person.email}}">email</a>
    {% endif %}
  </p>
</div>
{% endfor %}

<h1>{% markdown contact_title %}</h1>
<div>
  <div>
    {{contact_project}}
  </div>
  <div>
    <a href="{{contact_project_url}}">{{contact_project_action}}</a>
  </div>
</div>
<div>
  <div>
    {{contact_sharer}}
  </div>
  <div>
    <a href="{{contact_sharer_url}}">{{contact_sharer_action}}</a>
  </div>
</div>
<div>
  <div>
    {{contact_media}}
  </div>
  <div>
    <a href="{{contact_media_url}}">{{contact_media_action}}</a>
  </div>
</div>
<div>
  <div>{{contact_other}}</div>
</div>

<h1>{{timeline_title}}</h1>

{% for event in timeline_events %}
<div>
  <h2>{{event.name | readableDate}}</h2>
  <p>{% markdown event.description %}</p>
</div>
{% endfor %}
