---
layout: default
---
<section id="hero"
  {% if lead_image %}
         style="background-image: url({{lead_image}})"
  {% endif %}
>
    {% markdown lead %}
</section>
<figcaption>{% markdown lead_image_caption %}</figcaption>
{% include "signup.njk" %}
{% if collections.editorial %}
<h1>{% markdown editorials_title %}</h1>
{% for post in collections.editorial %}
  {% if post.data.locale == locale %}
    <div>
      <h3><a href="{{post.url}}"> {% markdown post.data.title %}</a></h3>
        {% markdown post.data.lead %}
        <figure>
          <a href="{{post.url}}"><img src="{{post.data.image}}"></a>
          <figcaption>{% markdown post.data.image_caption %}</figcaption>
        </figure>
    </div>
  {% endif %}
{% endfor %}
{% endif %}
{% if collections.interview %}
  <h1>{% markdown interviews_title %}</h1>
  {% for post in collections.interview %}
    {% if post.data.locale == locale %}
      <div>
        <h3><a href="{{post.url}}">{{post.data.title}}</a></h3>
        {% markdown post.data.lead %}
        <figure>
          <a href="{{post.url}}"><img src="{{post.data.image}}"></a>
          <figcaption>{% markdown post.data.image_caption %}</figcaption>
        </figure>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

{% if collections.infographic %}
  <h1>{% markdown infographics_title %}</h1>
  {% for post in collections.infographic %}
    {% if post.data.locale == locale %}
      <div>
        <h3><a href="{{post.url}}">{{post.data.title}}</a></h3>
        {% markdown post.data.lead %}
        <figure>
          <a href="{{post.url}}"><img src="{{post.data.image}}"></a>
          <figcaption>{% markdown post.data.image_caption %}</figcaption>
        </figure>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
<h1>{% markdown categories_title %}</h1>
<ul>
    {% for category in collections.post_category %}
        {% if category.data.locale == locale %}
            <li><a href="{{category.data.page.url}}">{{category.data.name}}</a></li>
        {% endif %}
    {% endfor %}
</ul>

<h1>{% markdown authors_title %}</h1>
<ul>
    {% for author in collections.post_author %}
        {% if author.data.locale == locale %}
            <li><a href="{{author.data.page.url}}">{{author.data.name}}</a></li>
        {% endif %}
    {% endfor %}
</ul>

