---
layout: defaultWithHero
---
<section id="contacts">
  <div>
    <h4>{{contact_community}}</h4>
    <h5>
      <a href="{{contact_community_url}}">{{contact_community_action}}</a>
    </h5>
  </div>
  <div>
    <h4>{{contact_researcher}}</h4>
    <h5>
      <a href="{{contact_researcher_url}}">{{contact_researcher_action}}</a>
    </h5>
  </div>
  <div>
    <h4>{{contact_partner}}</h4>
    <h5>
      <a href="{{contact_partner_url}}">{{contact_partner_action}}</a>
    </h5>
  <div>
    <h4>{{contact_media}}</h4>
    <h5>
      <a href="{{contact_media_url}}">{{contact_media_action}}</a>
    </h5>
  </div>
</section>

<section id="contact-form">
  <contact-form
    lang="{{locale}}"
    form-name="contact-dp"></contact-form>
</section>

<script type="module">
  import '/components/contact-form.js';
</script>