<!DOCTYPE html>
<html lang="en">
  {% include "head.njk" %}
  <body class="mainContainer">
    <header>
      <p>
        <a href="/{{locale}}">{{i18n.globals[locale].home}}</a> |
        <a href="/{{locale}}/blog/">{{i18n.globals[locale].blog}}</a> |
        {% for translation in translations %}
          {% if not loop.first %}/{% endif %}
          <a href="{{translation.page.url}}">{{translation.locale}}</a>
        {% endfor %}
      </p>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <p>
        {{i18n.globals[locale].contact}} |
        <a href="/{{locale}}/about/">{{i18n.globals[locale].about}}</a> |
        <a href="/{{locale}}/impressum/">{{i18n.globals[locale].impressum}}</a>
      </p>
    </footer>
  </body>
</html>