---
layout: defaultWithHero
---
{#
Would we need custom HTML per language, copy & override
the code to `home/en/index.html` and `home/fr/index.html`
#}
<section id="purpose">
  <h1>{% markdown paragraph1_title %}</h1>
  <h2>{% markdown ethics_title %}</h2>
  <div>
    {% markdown ethics_description %}
    <a href="/{{locale}}/ethics">
      {{ethics_link_text}}</a>
  </div>
  <h2>{% markdown community_title %}</h2>
  <div>
    {% markdown community_description %}
    <a href="/{{locale}}/community">
      {{community_link_text}}</a>
  </div>
  <h2>{% markdown mission_title %}</h2>
  <div>
    {% markdown mission_description %}
    <a href="/{{locale}}/mission">
      {{mission_link_text}}</a>
  </div>
  <h2>{% markdown partners_title %}</h2>
  <div>
    {% markdown partners_description %}
    <a href="/{{locale}}/partners">{{partners_link_text}}</a>
  </div>
  <div>
    <a href="/{{locale}}/act/sar"><button >
        {{sar_button}}</button></a>
  </div>
</section>

<section id="news">
  <h1>{% markdown news_title %}</h1>
  <noscript>You need JavaScript enabled to see the additional news articles hereafter.</noscript>
  {% for edito in collections.editorial %}
      {% if edito.data.locale == locale
      and edito.data.id in news %}
  <article-breakout href="{{edito.url}}"
                    imgSrc="{{edito.data.image}}">
    <span slot="title">{% markdown edito.data.title %}</span>
    <span slot="img-caption">
      {% markdown edito.data.image_caption %}
    </span>
    {% markdown edito.data.lead %}
  </article-breakout>
      {% endif %}
  {% endfor %}
</section>

<section id="newsletter">
  {% include "signup.njk" %}
</section>

<script type="module">
  import '/components/article-breakout.js';
</script>