---
layout: defaultWithHero
inverse: true
---
{#
  Would we need custom HTML per language, copy & override
  the code to `home/en/index.html` and `home/fr/index.html`
#}
<section id="purpose">
  <h1>{% markdown paragraph1_title %}</h1>
  <div class="grid-layout-halves with-gutters">
    <div class="grid-cell">
      <h2>{% markdown ethics_title %}</h2>
      <div>
        {% markdown ethics_description %}
        <a href="/{{locale}}/ethics/">
          {{ethics_link_text}}</a>
      </div>
    </div>
    <div class="grid-cell">
      <h2>{% markdown community_title %}</h2>
      <div>
        {% markdown community_description %}
        <a href="/{{locale}}/community/">
          {{community_link_text}}</a>
      </div>
    </div>
    <div class="grid-cell">
      <h2>{% markdown mission_title %}</h2>
      <div>
        {% markdown mission_description %}
        <a href="/{{locale}}/mission/">
          {{mission_link_text}}</a>
      </div>
    </div>
    <div class="grid-cell">
      <h2>{% markdown partners_title %}</h2>
      <div>
        {% markdown partners_description %}
        <a href="/{{locale}}/partners/">{{partners_link_text}}</a>
      </div>
    </div>
  </div>
  <p class="center with-space">
    <a href="/{{locale}}/act/sar/"><button class="big">
      {{i18n.globals[locale].ask_your_data}}</button></a></p>
</section>

<section id="news">
  <h1>{% markdown news_title %}</h1>
  <noscript>You need JavaScript enabled to see the additional news articles hereafter.</noscript>
  <div class="grid-layout-halves with-gutters">
    {% set news = {editorial: news_editorials,
                   interview: news_interviews,
                   infographic: news_infographics} %}
    {% for news_type, news_ids in news %}
      {% for edito in collections[news_type] %}
        {% if edito.data.locale == locale and news_ids and edito.data.id in news_ids %}
          <article-breakout
              class="grid-cell" layout="box"
              href="{{edito.url | url}}" img-src="{{edito.data.image}}">
            <span slot="caption">{% markdown edito.data.image_caption %}</span>
            <h1>{% markdown edito.data.title %}</h1>
            {% markdown edito.data.lead %}
            <button>{{i18n.globals[locale].read_more}}</button>
          </article-breakout>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</section>

<section id="newsletter" class="newsletter">
  <newsletter-signup
    lang="{{locale}}"
    form-name="newsletter-signup-dp">
  </newsletter-signup>
</section>

<script type="module">
  import '/components/article-breakout.js';
  import '/components/newsletter-signup.js';
</script>