---
layout: default
---
{#
Would we need custom HTML per language, copy & override
the code to `home/en/index.html` and `home/fr/index.html`
#}
<section id="hero" style="{{hero_image | backgroundImage}}">
    {% markdown hero %}
    <button onclick="alert('That was good, click me again!');">Click me, you fool</button>
</section>
<figcaption>{% markdown hero_image_caption %}</figcaption>

<section id="wat">
  <h1>{% markdown paragraph1_title %}</h1>
  <h2>{% markdown problem_title %}</h2>
  <div>
    {% markdown problem_description %}
  </div>
  <h2>{% markdown strategy_title %}</h2>
  <div>
    {% markdown strategy_description %}
    <a href="/{{locale}}/strategy">{{strategy_link_text}}</a>
  </div>
  <h2>{% markdown join_title %}</h2>
  <div>
    {% markdown join_description %}
    <a href="#" onclick="alert('should this open an email to hestia.ai?')" >{{join_link_text}}</a>
  </div>
  <h2>{% markdown partners_title %}</h2>
  <div>
    {% markdown partners_description %}
    <a href="/{{locale}}/partners">{{partners_link_text}}</a>
  </div>
</section>

<section id="projects">
  <h1>{% markdown projects_title %}</h1>
  {% set projects_to_display = defaultTranslation.page.data.featured_projects %}
  {% for project_to_display in projects_to_display %}
    {% for project in collections.project %}
      {% if project.data.locale == locale
         and project.data.id == project_to_display%}
        {% set project_url = "/" + locale + "/projects#" +project.data.page.fileSlug %}
        <div>
          <h2><a href="{{project_url}}">{{project.data.name}}</a></h2>
          <figure>
            <a href="{{project_url}}">
              <img src="{{project.data.image}}">
            </a>
            <figcaption>{% markdown project.data.image_caption %}</figcaption>
          </figure>
          <p>{% markdown project.data.description %}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</section>

<section id="news">
  <h1>{% markdown news_title %}</h1>
  <noscript>You need JavaScript enabled to see the additional news articles hereafter.</noscript>
  {% for edito in collections.editorial %}
      {% if edito.data.locale == locale
      and edito.data.id in news %}
  <article-breakout href="{{edito.url}}"
                    imgSrc="{{edito.data.image}}">
    <span slot="title">{% markdown edito.data.title %}</span>
      {% markdown edito.data.image_caption %}
    </span>
    {% markdown edito.data.lead %}
  </article-breakout>
      {% endif %}
  {% endfor %}
</section>

<section id="newsletter">
  {% include "signup.njk" %}
</section>

<script type="module">
  import '/components/article-breakout.js';
</script>
