---
layout: defaultWithHero
inverse: true
---
<section id="articles">
  <h1>{% inlineMarkdown articles_title %}</h1>
  {% for article in media_articles %}
    <div>
      <figure>
        <a href="{{article.url | url}}" target="_blank"><img src="{{article.image}}"></a>
        <figcaption>{% inlineMarkdown article.image_caption %}</figcaption>
      </figure>
      <h3>{{article.title}}</h3>
      <p>{{article.date | readableDate(locale)}}</p>
      <a href="{{article.url | url}}" target="_blank">{{read_button}}</a>
    </div>
  {% endfor %}
</section>

<section id="contact">
  <h1>{% inlineMarkdown contact_title %}</h1>
  <p> {{contact_email}} </p>
</section>

<section id="downloads">
  <h1>{% inlineMarkdown download_title %}</h1>
  <p> {% inlineMarkdown media_kit_title %}
    <a href="{{media_kit_file}}" download>{{download_button}}</a>
  </p>
</section>

<section id="press-releases">
  <h1>{% inlineMarkdown press_releases_title %}</h1>
  {% for release in press_releases %}
    <div>
      <p>{{release.date | readableDate(locale)}}</p>
      <h3><a href="{{release.url}}"> {% inlineMarkdown release.title %}</h3>
    </div>
  {% endfor %}
</section>
