---
layout: defaultWithHero
---
<section id="intro">
<h1>{% inlineMarkdown introduction_title %}</h1>
{% markdown introduction %}
</section>

<section id="solutions">
  {% for solution in solutions %}
    <h3>{% inlineMarkdown solution.title %}</h3>
    {% if solution.image %}
      <figure>
        <img height="400" src="{{solution.image}}">
        <figcaption>{% inlineMarkdown solution.image_caption %}</figcaption>
      </figure>
    {% endif %}
    {% markdown solution.description %}
  {% endfor %}
</section>
