---
layout: default
---
<section id="hero"
  {% if hero_image %}
         style="background-image: url({{hero_image}})"
  {% endif %}
>
    {% markdown hero %}
</section>
<figcaption>{% markdown hero_image_caption %}</figcaption>
<h1>{% markdown introduction_title %}</h1>
<p>{% markdown introduction %}</p>
{% for solution in solutions %}
<div>
  <h3>{% markdown solution.title %}</h3>
  {% if solution.image %}
  <figure>
    <img src="{{solution.image}}">
    <figcaption>{% markdown solution.image_caption %}</figcaption>
  </figure>
  {% endif %}
  <p>{% markdown solution.description %}</p>
</div>
{% endfor %}

