---
layout: defaultWithHero
---
<section id="intro">
<h1>{% inlineMarkdown introduction_title %}</h1>
<p>{% markdown introduction %}</p>
</section>

<section id="solutions">
  {% for solution in solutions %}
    <div>
      <h3>{% inlineMarkdown solution.title %}</h3>
      {% if solution.image %}
        <figure>
          <img src="{{solution.image}}">
          <figcaption>{% inlineMarkdown solution.image_caption %}</figcaption>
        </figure>
      {% endif %}
      <p>{% markdown solution.description %}</p>
    </div>
  {% endfor %}
</section>