---
layout: defaultWithHero
---
<section id="intro">
  {% markdown introduction %}
</section>

<section id="partners">
  {% for partner in partners %}
    <div>
      <h1>{% markdown partner.title %}</h1>
      <figure>
        <a href="{{partner.url}}" target="_blank"><img src="{{partner.image}}"></a>
        <figcaption>{% markdown partner.image_caption %}</figcaption>
      </figure>
      <p>{% markdown partner.description %}</p>
      <a href="{{partner.url}}" target="_blank">website</a>
    </div>
  {% endfor %}
</section>