---
layout: defaultWithLeadTitle
---
<section id="post" class="with-no-space-before">
  <p>
    {{i18n.globals[locale].by_author}} {% for author in collections.post_author %}
      {% if author.data.id in post_authors
         and author.data.locale == locale %}
        <a href="{{author.data.page.url | url}}">{{author.data.name}}</a>
      {% endif %}
    {% endfor %}
    {{i18n.globals[locale].published_on}} {{ date | readableDate(locale)}}
  </p>
  <p>
    {{i18n.globals[locale].tagged_as}} {% for category in collections.post_category %}
      {% if category.data.id in post_categories
         and category.data.locale == locale %}
        <a href="{{category.data.page.url | url}}">{{category.data.name}}</a>
      {% endif %}
    {% endfor %}
  </p>
  <figure>
    <img src="{{image}}">
    <figcaption>{% markdown image_caption %}</figcaption>
  </figure>
  <div>
    {{ content | safe }}
  </div>
<section>

<section id="suggested-posts">
  <h1>{% markdown i18n.globals[locale].suggested_posts %}</h1>
  {% set suggested_posts = [].concat(suggested_editorials, suggested_interviews, suggested_infographics) %}
  {% for post in collections.post %}
    {% if post.data.locale == locale and post.data.id in suggested_posts %}
      <p><a href="{{post.url | url}}"> {% markdown post.data.title %}</a></p>
    {% endif %}
  {% endfor %}
</section>

<section id="engage">
  {% include "share.njk" %}
  {% include "signup.njk" %}
</section>