---
layout: defaultWithHero
---
{% set articleLayout = cycler("card", "card-alt") %}
<section id="purpose">
  <h1>{% markdown introduction_title %}</h1>
  <div>
    {% markdown introduction%}
  </div>
</section>

<section id="your-project">
  <h1>{% markdown your_title %}</h1>
  <p>{% markdown your_content %}</p>
  <p><a href="{{your_url}}"><button class="big">{{your_button}}</button></a></p>
</section>

<section id="running-projects">
  <h1>{% markdown running_projects_title %}</h1>
  <div class="stack-layout with-gutters">
    {% set running_to_display = defaultTranslation.page.data.running_projects %}
    {% for project_to_display in running_to_display %}
      {% for project in collections.project %}
      {% if project.data.locale == locale
            and project.data.id == project_to_display%}
        <article-breakout
              id="{{project.data.page.fileSlug}}"
              layout="{{articleLayout.next()}}" class="stack-cell"
              href="{{project.data.url}}" img-src="{{project.data.image}}">
          <span slot="title">{% markdown project.data.name %}</span>
          <span slot="caption">{% markdown project.data.image_caption %}</span>
          <p>{% markdown project.data.description %}</p>
          <button>{{running_projects_button}}</button>
        </article-breakout>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</section>

<section id="launchpad-projects">
  <h1>{% markdown launchpad_projects_title %}</h1>
  <div class="stack-layout with-gutters">
    {% set launchpad_to_display = defaultTranslation.page.data.launchpad_projects %}
    {% for project_to_display in launchpad_to_display %}
      {% for project in collections.project %}
        {% if project.data.locale == locale
              and project.data.id == project_to_display%}
          <article-breakout
                id="{{project.data.page.fileSlug}}"
                layout="{{articleLayout.next()}}" class="stack-cell"
                href="{{project.data.url}}" img-src="{{project.data.image}}">
            <span slot="title">{% markdown project.data.name %}</span>
            <span slot="caption">{% markdown project.data.image_caption %}</span>
            <p>{% markdown project.data.description %}</p>
            <button>{{launchpad_projects_button}}</button>
          </article-breakout>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</section>

<script type="module">
  import '/components/article-breakout.js';
</script>