---
layout: defaultWithHero
---
{% set articleLayout = cycler("card", "card-alt") %}

<section id="intro">
  <h1>{% markdown introduction_title %}</h1>
  <p>{% markdown introduction %}</p>
  <a href="{{submit_url}}"><button>{{submit_button_small}}</button></a>
</section>

<section id="four-steps">
  <h1>{% markdown four_steps_title %}</h1>
  <div class="stack-layout with-gutters">
    {% for step in change_steps %}
      <article-breakout
            id="{{project.data.page.fileSlug}}"
            layout="{{articleLayout.next()}}" class="stack-cell"
            img-src="{{step.image}}">
        <span slot="title">{% markdown step.title %}</span>
        <span slot="caption">{% markdown step.image_caption %}</span>
        <p>{% markdown step.description %}</p>
      </article-breakout>
    {% endfor %}
  </div>
</section>

<section id="conclusion">
  <h1>{% markdown conclusion_title %}</h1>
  <p>{% markdown conclusion %}</p>
  <a href="{{submit_url}}"><button>{{submit_button_big}}</button></a>
</section>

<script type="module">
  import '/components/article-breakout.js';
</script>