/* Quoting in HTML: Quotations, Citations, and Blockquotes
   https://css-tricks.com/quoting-in-html-quotations-citations-and-blockquotes/ */

/* Callout quote */
blockquote {
  margin-left: var(--blocks-space-sides);
  margin-right: var(--blocks-space-sides);
  background: var(--blocks-bg-color);
  padding: var(--blocks-space-around) var(--blocks-space-sides);
  border-radius: 0.5rem;
}
