.header-outer,
.footer-outer {
  display: flex;
  align-items: center;
}

.header-inner,
.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-outer {
  height: var(--header-height-outer);
  background-color: var(--header-bg-color);
  box-shadow: var(--shadow-medium);
}

.header-inner {
  height: var(--header-height-inner);
}

.footer-outer {
  height: var(--footer-height-outer);
  background-color: var(--footer-bg-color);
}

.footer-inner {
  height: var(--footer-height-inner);
}

.header-logo img,
.footer-logo img {
  display: inline-block;
}

.header-navigation,
.footer-navigation {
  display: flex;
  flex-wrap: wrap;
}

.header-navigation a,
.footer-navigation a {
  color: inherit;
  text-decoration: none;
  margin-left: 1.75rem;
  position: relative;
}

.header-navigation a {
  font-size: var(--header-text-font-size);
}

.footer-navigation a {
  font-size: var(--footer-text-font-size);
}

.header-navigation a:hover:after {
  transform: scalex(1);
}

.header-navigation a:after {
  transition: 0.25s ease;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentcolor;
  transform: scalex(0);
  position: absolute;
  bottom: -2px;
  left: 0;
}