.masthead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  width: 100%;
  height: 40vh; /* if you don't want it to take up the full screen, reduce this number */
  overflow: hidden;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-color: var(--color-bg-tertiary);   /* default background color */
  background-image: url('section-hero-bg.svg'); /* default background image */
  /* the above `background-image` CSS property is expected to be overridden
     by the hero section elements themselves, thru their `style` attribute:
     `style="background-image: url(media.jpg)"` (alternatively, use the
     `style="{{hero_image | backgroundImage}}"` shortcode) */
}

section.masthead h1,
section.masthead h2,
section.masthead h3,
section.masthead h4,
section.masthead h5,
section.masthead h6,
section.masthead p {
  font-size: calc( var(--h1-font-size) * 1.5);
  line-height: 1;
  color: var(--color-text-white);
  text-shadow: var(--shadow-text-on-image);
  margin-bottom: 0;
}