.normhero {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-align: left;
  width: 100%;
  height: 20vh;
  overflow: hidden;
  padding-bottom: var(--line-height-double);
}

.masthero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-color: var(--color-bg-tertiary);   /* default background color */
  background-image: url('section-hero-bg.svg'); /* default background image */
  /* the above `background-image` CSS property is expected to be overridden
     by the hero section elements themselves, thru their `style` attribute:
     `style="background-image: url(media.jpg)"` (alternatively, use the
     `style="{{hero_image | backgroundImage}}"` shortcode) */
}

section.masthero h1, section.normhero h1,
section.masthero h2, section.normhero h2,
section.masthero h3, section.normhero h3,
section.masthero h4, section.normhero h4,
section.masthero h5, section.normhero h5,
section.masthero h6, section.normhero h6,
section.masthero p,  section.normhero p {
  text-shadow: var(--shadow-text-on-image);
  font-size: calc( var(--h1-font-size) * 1.5);
  line-height: 1;
  margin-bottom: 0;
}

section.masthero.inverse h1,
section.masthero.inverse h2,
section.masthero.inverse h3,
section.masthero.inverse h4,
section.masthero.inverse h5,
section.masthero.inverse h6,
section.masthero.inverse p {
  text-shadow: var(--shadow-text-on-image-inverse);
  color: var(--color-text-white);
}

section.masthero figcaption {
  position: absolute;
  right: var(--line-height-base);
}

section.masthero figcaption,
section.masthero figcaption p {
  font-size: var(--text-sm-font-size);
}